<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustReg</servlet-name>
        <servlet-class>com.sayantan.roy.CustReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuySpaceFirst</servlet-name>
        <servlet-class>com.sayantan.roy.BuySpaceFirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustProfUpdate</servlet-name>
        <servlet-class>com.sayantan.roy.CustProfUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.sayantan.roy.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAll</servlet-name>
        <servlet-class>com.sayantan.roy.LoginAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuySpace</servlet-name>
        <servlet-class>com.sayantan.roy.BuySpace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManProfUpdate</servlet-name>
        <servlet-class>com.sayantan.roy.ManProfUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MsgSend</servlet-name>
        <servlet-class>com.sayantan.roy.MsgSend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManSpaceUpdate</servlet-name>
        <servlet-class>com.sayantan.roy.ManSpaceUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfUpdate</servlet-name>
        <servlet-class>com.sayantan.roy.AdminProfUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMan</servlet-name>
        <servlet-class>com.sayantan.roy.AddMan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMsgDel</servlet-name>
        <servlet-class>com.sayantan.roy.AdminMsgDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustDel</servlet-name>
        <servlet-class>com.sayantan.roy.AdminCustDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSpaceDel</servlet-name>
        <servlet-class>com.sayantan.roy.AdminSpaceDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustReg</servlet-name>
        <url-pattern>/CustReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuySpaceFirst</servlet-name>
        <url-pattern>/BuySpaceFirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustProfUpdate</servlet-name>
        <url-pattern>/CustProfUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAll</servlet-name>
        <url-pattern>/LoginAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuySpace</servlet-name>
        <url-pattern>/BuySpace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManProfUpdate</servlet-name>
        <url-pattern>/ManProfUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MsgSend</servlet-name>
        <url-pattern>/MsgSend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManSpaceUpdate</servlet-name>
        <url-pattern>/ManSpaceUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfUpdate</servlet-name>
        <url-pattern>/AdminProfUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMan</servlet-name>
        <url-pattern>/AddMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMsgDel</servlet-name>
        <url-pattern>/AdminMsgDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustDel</servlet-name>
        <url-pattern>/AdminCustDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSpaceDel</servlet-name>
        <url-pattern>/AdminSpaceDel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
